Skyworx.Common/bin/Debug/net8.0
Skyworx.Common/obj
Skyworx.PengajuanKredit/bin
Skyworx.PengajuanKredit/obj
Skyworx.Repository/bin
Skyworx.Repository/obj
Skyworx.Service/bin
Skyworx.Service/obj
.idea/.idea.Skyworx.Indonesia
Skyworx.Tests/bin
Skyworx.Tests/obj
